<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- appel bootstrap -->
     <%- include('partials/bootstrapCN.ejs')%>
    <title>Nouvelle Demande </title>
</head>
<body>
    <!-- Pour afficher la navbar -->
     <!-- <%- include('partials/navbar.ejs')%> -->


     <form action="/submit-demande" method="post">
       Demande: <input type="text" name="demande">
        Demandeur: <input type="text" name="demandeur">
       Service: <input type="text" name="service">
        Zone: <input type="text" name="zone">
       Desription: <textarea name="description" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="envoyer">
    </form>
</body>
</html>
